<h2>Registro Exitoso</h2>
<mat-card-title style="display: flex; justify-content: center;">
    <img style="width: 10rem; margin-top: 1rem;"
        src="https://static.vecteezy.com/system/resources/previews/008/506/363/non_2x/green-tick-icons-passed-accepted-agreed-valid-confirmed-seen-access-3d-illustration-free-png.png">
    <br>
</mat-card-title>
<mat-card-subtitle style="text-align: center;">Volver a la pantalla principal<br></mat-card-subtitle>
<br>
<button style="width: 90%; margin: 1rem 1rem;" mat-button (click)="salir()" id="medio">Aceptar</button>