<div class="container">

    <h2>Perfil</h2>
    <hr>

    <div class="perfil">
        <div *ngFor="let data of usuario" class="shadow ">
            <mat-card class="example-card">
                <mat-card-header>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="{{data.nombres}}">
                <mat-card-content class="info">
                    <div>
                        <h3> Cedula:</h3>
                        <p>{{data.cedula}}</p>
                    </div>
                    <div>
                        <h3>Nombre:</h3>
                        <p>{{data.nombres}}</p>
                    </div>
                    <div>
                        <h3>Apellido:</h3>
                        <p>{{data.apellido}}</p>
                    </div>
                    <div>
                        <h3>Ciudad</h3>
                        <p>{{data.ciudad}}</p>
                    </div>


                    <div>
                        <h3>Direccion:</h3>
                        <p>{{data.direccion}}</p>
                    </div>

                    <div>
                        <h3>Correo:</h3>
                        <p>{{data.email}}</p>
                    </div>

                    <div>
                        <h3>Correo:</h3>
                        <p>{{data.username}}</p>
                    </div>
                </mat-card-content>
                <mat-card-actions style="width: 100%;">
                    <button style="width: 100%;" (click)="reservar()" mat-raised-button color="primary">Realizar una reservación</button>
                </mat-card-actions>
            </mat-card>

            <section class="menu" *ngIf="data.rol === 'admin'">
                <h2>Menú administrativo</h2>
                <div class="botones">
                    <a mat-raised-button href="/snacks-admin" color="primary">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-movie" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <rect x="4" y="4" width="16" height="16" rx="2" />
                            <line x1="8" y1="4" x2="8" y2="20" />
                            <line x1="16" y1="4" x2="16" y2="20" />
                            <line x1="4" y1="8" x2="8" y2="8" />
                            <line x1="4" y1="16" x2="8" y2="16" />
                            <line x1="4" y1="12" x2="20" y2="12" />
                            <line x1="16" y1="8" x2="20" y2="8" />
                            <line x1="16" y1="16" x2="20" y2="16" />
                        </svg>
                        Snacks
                    </a>

                    <a mat-raised-button href="/peliculas-admin" color="primary">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-archive" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <rect x="3" y="4" width="18" height="4" rx="2" />
                            <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10" />
                            <line x1="10" y1="12" x2="14" y2="12" />
                        </svg> Peliculas</a>
                    <a mat-raised-button href="/promociones-admin" color="primary">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pokeball" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <circle cx="9" cy="9" r="9" transform="translate(3 3)" />
                            <circle cx="12" cy="12" r="3" />
                            <path d="M3 12h6m6 0h6" />
                        </svg>Promociones</a>

                </div>
            </section>
        </div>
    </div>
</div>